# === Eclipse ===
.classpath
.project
.settings/

# === Gradle ===
.gradle/
build/
gradle-wrapper.jar
gradle-wrapper.properties
gradle/libs.versions.toml
build.gradle.kts
settings.gradle.kts

# Gradle cache / configuración temporal
.gradle/
*/tmp/
*/out/
*/generated/
*/test-results/
*/reports/
*/configuration-cache/
*/buildOutputCleanup/
*/fileChanges/
*/fileHashes/
*/executionHistory/
*/vcsMetadata/
*/*.lock
*/*.bin
*/.globals.work.bin
*/.strings.work.bin
*/work.bin
*/_.work.bin

# === Maven ===
target/
.mvn/
*.pom.tag
*.pom.releaseBackup
*.pom.versionsBackup
*.pom.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# === IDEs y editor ===
.idea/
*.iml
*.ipr
*.iws

# === Logs ===
*.log

# === System files ===
.DS_Store
Thumbs.db

# === Binaries ===
*.class
*.jar
*.war
*.ear

# === Test results / reports ===
reports/
test-results/
cucumber-reports.html

# === Otros temporales ===
tmp/
*.cache
