# Eclipse
.classpath
.project
.settings/

# Gradle
.gradle/
build/
build.gradle.kts
gradle-wrapper.jar
gradle-wrapper.properties

# Gradle caches y configuraciones temporales
.gradle/
*/build/
*/tmp/
*/out/
*/generated/
*/test-results/
*/reports/

# Maven
target/
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/

# IDEs
.idea/
*.iml
*.ipr
*.iws

# Logs
*.log

# System
.DS_Store
Thumbs.db

# Binaries
*.class
*.jar
*.war
*.ear

# Test results / reports
reports/
test-results/
cucumber-reports.html

# Otros temporales
tmp/
*.lock
*.bin
*.cache
